doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title App
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/sprite.css")
  body
    include ./templates/layouts/layout
    div.sprite
      h1.sprite__title sprite worked!
      span.sprite__icon.icon-face

    script(src="js/main.js")